@model Pie

<div class="pie">
	<img src=@Model.ImageUrl
		class="pie-image"
		alt="@Model.Name image" />
	<h2>
		<a class="pie-name"
			asp-controller="Pie"
			asp-action="Details"	
			asp-route-id="@Model.PieId">
			@Model.Name
		</a>
	</h2>
	<h2 class="price">@Model.Price.ToString("c")</h2>
	<h2>@Model.Category.CategoryName</h2>
	<p>@Model.ShortDescription</p>
	<a class="addToCartBtn"
		asp-controller="ShoppingCart"
		asp-action="AddToShoppingCart"
		asp-route-pieId="@Model.PieId">
		Add to cart
	</a>
</div>
