@model Pie

<div class="pie">
	<img src=@Model.ImageUrl
		class="pie-image"
		alt="@Model.Name image" />
	<h2>
		<a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.PieId">@Model.Name</a>
	</h2>
	<h3 class="price">@Model.Price.ToString("c")</h3>
	<h4>@Model.Category.CategoryName</h4>
</div>