@model Pie

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/pie-details.css" />
}

<div class="pie">
	<img alt="@Model.Name" src="@Model.ImageUrl" />

	<h2 class="pie-name">
		<a asp-controller="Pie"
			asp-action="Details"
			asp-route-id="pie.PieId">
			@Model.Name
		</a>
	</h2>

	<h2>@Model.ShortDescription</h2>

	<p>@Model.LongDescription</p>

	<a class="addToCartBtn"
		asp-controller="ShoppingCart"
		asp-action="AddToShoppingCart"
		asp-route-pieId="@Model.PieId">
		Add to cart
	</a>
</div>
