@model ShoppingCartViewModel

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
  <link rel="stylesheet"
    href="/css/pages/shopping-cart.css" />
}

<main>
	<div class="page-title">
		<h2>Your shopping cart</h2>
		<h2>Here are the delicious pies in your shopping cart.</h2>
	</div>

	<div class="shopping-cart-list">
		@foreach (var item in Model.ShoppingCart.ShoppingCartItems)
		{
			<div class="shopping-cart-item">
				<h2>#: @item.Amount</h2>
				<h2>@item.Pie.Name</h2>
				<h2>Price: @item.Pie.Price.ToString("c")</h2>
				<h2>
					Subtotal: @((item.Amount * item.Pie.Price).ToString("c"))
				</h2>
			</div>
		}
	</div>

	<div class="total">
		<h2>Total:</h2>
		<h2>
			@Model.ShoppingCartTotal.ToString("c")
		</h2>
		<a asp-controller="Order" asp-action="Checkout">Check out now!</a>
	</div>
</main>